.looks_input {
	padding: 7px;
	border-bottom:1px solid #ddd;
	border-top:1px solid #fff;
	overflow:hidden;
	width: 505px;
}

.looks_button {
	position:relative;
	bottom:0px;
	padding:13px 0 2px 8px;
	border-top:1px solid #fff;
	overflow:hidden;
	width:495px;
}

.looks_select {
	width:330px !important;
	}
	
	.label_option {
		display: block; float: left; width: 165px; height: 30px; line-height: 25px;
		}
	